.input{
    border-radius: 2px;
    border: 0;
    padding: 12px;
    width: 50%;
    margin: auto;

}
#form{
    paddding: 40px;
    margin: auto;
    border-radius: 0%;
    width: 50%
    
}
#page{
    display: grid;
    grid-template-columns: 30%;
    padding: 24px;

}
button{
    padding: 12px;
    width: 50%
    margin;auto

}
div{
    display
    gap: 

}



    






    

 
 
 




